config.json
service-account.json
*service-account*.json
.DS_Store
.vscode
env/
.coverage
pip.conf

#Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache
Ipcamapi-unittest.json